@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#hidden-table-info {

    tbody {

        tr {

            td {

                &.p-name {

                    > div {
                        padding: 0;

                        &:first-child {
                            color: #667fa0;
                            font-weight: bold;
                        }
                    }
                }

                &.dt-center {
                    text-align: center;
                }

                &:nth-child(n + 4) {
                    white-space: nowrap;
                }

                &:last-child {

                    > div {

                        &:not(.btn-group) {
                            .btn {
                                margin: 0 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}

table.display {
  thead th {
    text-transform: capitalize;
  }

  th:first-child {
    width: 19px !important;
  }

  td {
    vertical-align: middle !important;
  }
}

.hidden-details-row {
  display: none;
}

.details > div {
  padding: 10px 0 0 7px;
}

.hidden-item {
  display: none;
}

/* reposition debugme sidebar */
#zednet_sidebar_box {
  right: 15px !important;
  bottom: 15px !important;
  top: initial !important;
  left: initial !important;
}

.table-advance td:first-child {
  max-width: 175px;
}

.tooltip {
  border: none;
}

#search-minus {
  cursor: pointer;
}

.actions > * {
  padding: 0 1px;
}

#currentLabel,
#labels > li > a {
    text-transform: capitalize;
}

#mail-div,
#authorize-div {
  display: none;
}

.body-403 {
    background: #8075c6;
    color: #fff;
}

.error-wrapper {
    text-align: center;
    margin-top: 10%;

    .icon-403 {
        background: url("../img/500_icon.png") no-repeat;
        width: 289px;
        height: 274px;
        display: inline-block;
        margin-left: 55px;
    }

    p.page-403 {
        color: #afa5f1;
    }
}

#register {
    max-width: 375px !important;

    .form-signin input[type="text"],
    .form-signin input[type="password"],
    .form-signin input[type="email"] {
        margin: 0;
    }

    .help-block {
        font-size: inherit;
        text-align: left;
        padding-left: 10px;
    }
}

.dropdown-menu {

    > li {

        .type {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;

            &:hover {
                background-color: #495d74;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
}

#files {

    .clickable-row {
        cursor: pointer;

        > td {

            &:first-child {
                font-weight: 700;
            }

            p {
                margin: 0;
            }

            .action {
                margin: 0 2px;

                > i {
                    padding-right: 3px;
                }
            }

            .btn.label {
                width: 95px;
                text-transform: capitalize;
                padding: 5px;

                .caret {
                    float: right;
                    margin-top: 3px;
                }
            }
        }
    }
}

.btn-group {

    &.status {
        display: none;
    }

    button.btn.btn-xs.status-btn {
         width: 85px;
    }

    &.type {

        button,
        a {
            text-transform: capitalize;
        }
        
        > button {

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}

#hidden-table-info_length {
    text-align: left;
}

#hidden-table-info_filter {
    text-align: right;

    > label {

        > input {
            border: 1px solid #e2e2e4;
            box-shadow: none;
        }
    }
}

@media screen and (max-width: 767px) {

    #hidden-table-info_length,
    #hidden-table-info_filter {
        text-align: center;
    }
}

#btn-wrapper {
    padding: 20px 15px 15px 15px;
}

#modal {

    .modal-body {
        padding: 15px 0;

        .tabcontrol {

            > {

                .steps {
                    padding: 0 15px;
                }
            }
        }
    }
}

.job-section {
    padding: 10px 0;
}

#modal-job {

    a {

        &.btn {
            margin: 0 5px;
        }
    }
}

#right-sidebar {
    margin-top: 0;

    > h5 {

        > i {

            &:before {
                content: '\f077';
            }
        }

        &.collapsed {

            > i {

                &:before {
                    content: '\f078';
                }
            }
        }
    }
}

.no-bold {
    font-weight: normal;
}

#hidden-type-button {
    display: none;
}

/* TODO: Set bolder color of sorted value */
.table {

    &.dataTable {

        thead {

            .sorting_asc,
            .sorting_desc {

                &:after {
                    /*color: #41cac0;*/
                }
            }
        }
    }
}